@page
@model WebApp.Areas.Game.Pages.Character.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Character</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CharacterTemplate.Id" />
            <div class="form-group">
                <label asp-for="CharacterTemplate.Title" class="control-label"></label>
                <input asp-for="CharacterTemplate.Title" class="form-control" />
                <span asp-validation-for="CharacterTemplate.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CharacterTemplate.Species" class="control-label"></label>
                <input asp-for="CharacterTemplate.Species" class="form-control" />
                <span asp-validation-for="CharacterTemplate.Species" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CharacterTemplate.Skin" class="control-label"></label>
                <input asp-for="CharacterTemplate.Skin" class="form-control" />
                <span asp-validation-for="CharacterTemplate.Skin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CharacterTemplate.Birthdate" class="control-label"></label>
                <input asp-for="CharacterTemplate.Birthdate" class="form-control" />
                <span asp-validation-for="CharacterTemplate.Birthdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

<div id="alertMessage" class="alert alert-success">
    <strong>Success!</strong> You should <a href="#" class="alert-link">read this message</a>.
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
