@page
@model IndexModel
@{
    ViewData["Title"] = "About page";
}

<div class="text-center">
    <h1 class="display-4">About</h1>
    <p>
        Hello and welcome to my personal blog!  I’m David Rachwalik, a software engineer and
        game creator.  I use this corner of the web to share opinions about my favorite hobbies.
        My primary interests are in videogames, web development, superheroes, anime,
        self improvement, writing, and running.
    </p>
    <p>
        My professional IT experience includes 4yrs in database administration, 2yrs as a
        Linux system administrator, and 9yrs programming (mainly C#, JavaScript, &Aacute; Python).
        I'm currently most excited by ASP.NET Core and Azure.
    </p>
    <p>
        I began my journey in programming to make some homebrew theory-crafting tools for
        World of Warcraft, League of Legends, and Diablo III.  I've had a keen interest in
        videogames all my life, especially min/max’ing game mechanisms and writing guides.
        @*These days, I have as much fun designing my own game creation engine as I do playing.*@
        These days, I have as much fun building my fantasy RPG as I do playing games.
    </p>
    <p>
        Join me as I post about game design, web practices, user experience, and more.
        I'll be posting various web techniques, code examples/experiments, data visualizations,
        and other general musings.
        Also, stay in touch for the latest game engine progress.  I’m currently designing a web-based
        RPG toolkit where (upon release) anyone can contribute to the story.  A big priority will be
        toward ease of use in the design, edit, audit, etc. of game content submissions.
    </p>
</div>
<br /><br /><br />

<h4>Disclaimer</h4>
<div>
    This is a personal blog. The opinions expressed here represent my own
    and not those of my employer.
</div>
<div>
    Unless otherwise stated or granted, code samples licensed under the
    <a href="https://anuraj.mit-license.org/">MIT license</a>.
</div>
