@page
@model AboutModel
@{
    ViewData["Title"] = "About page";
}

<main role="main" class="container pb-3">
    <h1 class="display-4 text-center">About</h1>
    <p>
        Hello and welcome to my personal blog!&emsp14;  I’m David Rachwalik, a software engineer and
        game creator.&emsp14;  I use this corner of the web to share opinions about my favorite hobbies.&emsp14;
        My primary interests are in videogames, web development, superheroes, anime,
        self improvement, writing, and running.
    </p>
    <p>
        My professional IT experience includes 4 yrs in database administration, 2 yrs as a
        Linux system administrator, and 9 yrs programming (mainly C#, JavaScript, &amp; Python).&emsp14;
        I'm currently most excited by ASP.NET Core and Azure.
    </p>
    <p>
        I began my journey in programming to make some homebrew theory-crafting tools for
        World of Warcraft, League of Legends, and Diablo III.&emsp14;  I've had a keen interest in
        videogames all my life, especially min/max’ing game mechanisms and writing guides.&emsp14;
        @*These days, I have as much fun designing my own game creation engine as I do playing.*@
        These days, I have as much fun building my fantasy RPG as I do playing games.
    </p>
    <p>
        Join me as I post about game design, web practices, user experience, and more.&emsp14;
        I'll be posting various web techniques, code examples/experiments, data visualizations,
        and other general musings.&emsp14;
        Also, stay in touch for the latest game engine progress.&emsp14;  I’m currently designing a web-based
        RPG toolkit where (upon release) anyone can contribute to the story.&emsp14;  A big priority will be
        toward ease of use in the design, edit, audit, etc. of game content submissions.
    </p>
    <br /><br /><br />

    <h4>Disclaimer</h4>
    <p>
        This is a personal blog.&emsp14;  The opinions expressed here represent my own
        and not those of my employer.
    </p>
    <p>
        Unless otherwise stated or granted, code samples licensed under the
        <a href="https://anuraj.mit-license.org">MIT license</a>.
    </p>
</main>
