@page
@model IndexModel
@{
    ViewData["Title"] = "About page";
}

<div class="text-center">
    <h1 class="display-4">About</h1>
    <p>
        Hello!  I’m David Rachwalik, software engineer, gamer, writer, and runner.  I use this corner of the web to share my favorite hobbies and interests.
    </p>
    <p>
        My professional IT experience includes 8yrs programming, 6yrs software engineering in .NET, and 2yrs as a Linux system administrator.  I'm currently most excited by .NET Core and Azure.
    </p>
    <p>
        I began my journey in programming to make some homebrew theory-crafting tools for World of Warcraft, Diablo III, and League of Legends.  I've had a keen interest in videogames all my life, especially min/max’ing game mechanisms and writing guides.  These days, I have as much fun designing my own game creation engine as I do playing.
    </p>
    <p>
        Join me as I post about web practices, user experience, game design, and more.
    </p>
</div>
