@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<main role="main" class="container pb-3">
    <h1 class="display-4 text-center">DMR</h1>
    <p>
        Hello and welcome to my personal blog!  This is a place for me to organize and
        share knowledge on web engineering and muse about my favorite hobbies.

        I’m especially interested in game design and web development.  I’ll discuss
        my impressions on such topics as programming, technology, anime, games,
        comic books, and more.  Also, I’m currently working on a web-based game
        creation engine, which I’ll be posting about frequently.

        In using this blog, I hope to further improve my processes, gain feedback,
        and expose others to the fun/frustration one can have with programming.
    </p>
</main>
