@page
@model WebApp.Areas.Blog.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
}

<main class="container">
    <h2 class="mb-3">Blog Index</h2>

    <div>

    </div>

    <textarea class="tinymce">Next, use our Get Started docs to setup Tiny!</textarea>
</main>

<script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
<script>tinymce.init({ selector: 'textarea.tinymce' });</script>
