@page
@model WebApp.Areas.Game.Pages.Profile.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>UserProfile</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserProfile.Who" class="control-label"></label>
                <input asp-for="UserProfile.Who" class="form-control" />
                <span asp-validation-for="UserProfile.Who" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserProfile.Email" class="control-label"></label>
                <input asp-for="UserProfile.Email" class="form-control" />
                <span asp-validation-for="UserProfile.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserProfile.Theme" class="control-label"></label>
                <select asp-for="UserProfile.Theme" class="form-control"></select>
                <span asp-validation-for="UserProfile.Theme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="UserProfile.HideTutorialTips" /> @Html.DisplayNameFor(model => model.UserProfile.HideTutorialTips))
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="UserProfile.Title" class="control-label"></label>
                <input asp-for="UserProfile.Title" class="form-control" />
                <span asp-validation-for="UserProfile.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserProfile.Description" class="control-label"></label>
                <input asp-for="UserProfile.Description" class="form-control" />
                <span asp-validation-for="UserProfile.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserProfile.Who" class="control-label"></label>
                <input asp-for="UserProfile.Who" class="form-control" />
                <span asp-validation-for="UserProfile.Who" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserProfile.What" class="control-label"></label>
                <input asp-for="UserProfile.What" class="form-control" />
                <span asp-validation-for="UserProfile.What" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserProfile.When" class="control-label"></label>
                <input asp-for="UserProfile.When" class="form-control" />
                <span asp-validation-for="UserProfile.When" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserProfile.Dimension" class="control-label"></label>
                <select asp-for="UserProfile.Dimension" class="form-control"></select>
                <span asp-validation-for="UserProfile.Dimension" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserProfile.Stage" class="control-label"></label>
                <select asp-for="UserProfile.Stage" class="form-control"></select>
                <span asp-validation-for="UserProfile.Stage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
