@page
@model WebApp.Areas.Game.Pages.Profile.EditModel
@using DMR.WebApp.Areas.Game.Models

@{
    ViewData["Title"] = "Edit Profile";
}

<h2>@ViewData["Title"]</h2>
<hr />

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserProfile.Title" class="control-label"></label>
                <input asp-for="UserProfile.Title" class="form-control" />
                <span asp-validation-for="UserProfile.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserProfile.Description" class="control-label"></label>
                <textarea asp-for="UserProfile.Description" class="form-control" rows="5"></textarea>
                <span asp-validation-for="UserProfile.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserProfile.Email" class="control-label"></label>
                <input asp-for="UserProfile.Email" class="form-control" />
                <span asp-validation-for="UserProfile.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserProfile.Theme" class="control-label"></label>
                <select asp-for="ThemeNames" asp-items="Html.GetEnumSelectList<Setting_Theme>()" class="form-control"></select>
                <span asp-validation-for="UserProfile.Theme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="UserProfile.HideTutorialTips" /> @Html.DisplayNameFor(m => m.UserProfile.HideTutorialTips)
                    </label>
                </div>
            </div>
            <input type="hidden" asp-for="UserProfile.Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
