<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DMR.WebApp</title>

    <partial name="_MainStylesPartial" />
</head>
<body>
    <partial name="_NavbarAreaPartial" />

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <partial name="_FooterPartial" />

    <partial name="_MainScriptsPartial" />

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
