@{
    string navTheme = "navbarDropdownThemes";
    string navGame = "btnGameDropdown";
}

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index">David Rachwalik</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                @*<partial name="_NavbarGamePartial" />
                    <ul class="nav navbar-nav">
                        <li><a asp-area="Blog" asp-page="/Index">Blog</a></li>
                        <li><a asp-area="Forum" asp-page="/Index">Forum</a></li>
                        <li><a asp-page="/About">About</a></li>
                    </ul>*@
                <ul class="navbar-nav flex-grow-1">
                    @*<li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-page="/Portfolio/Index">Portfolio</a></li>*@
                    <li class="nav-item"><a class="nav-link text-dark" asp-area="Blog" asp-page="/Index">Blog</a></li>
                    <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-page="/About">About</a></li>

                    <li class="nav-item dropdown">
                        <a id="@navGame" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Game Info
                            <b class="caret"></b>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="@navGame">
                            <a class="dropdown-item" asp-area="Game" asp-page="/Index">Play EroRPG</a>
                            <a class="dropdown-item" href="/redoc">OpenAPI</a>
                            <div class="dropdown-divider"></div>

                            <a class="dropdown-header">Game Server</a>
                            <a class="dropdown-item" asp-area="CoC" asp-page="/Index">Corruption of Champions</a>
                            <div class="dropdown-divider"></div>

                            <a class="dropdown-header">Game Info</a>
                            <a class="dropdown-item" asp-area="Game" asp-page="/Effect/Index">Effects</a>
                            <a class="dropdown-item" asp-area="Game" asp-page="/Item/Index">Items</a>
                            <a class="dropdown-item" asp-area="Game" asp-page="/Location/Index">Locations</a>
                            <div class="dropdown-divider"></div>

                            <a class="dropdown-header">Game Character Info</a>
                            <a class="dropdown-item" asp-area="Game" asp-page="/Attribute/Index">Attributes</a>
                            <a class="dropdown-item" asp-area="Game" asp-page="/Character/Index">Characters</a>
                            <a class="dropdown-item" asp-area="Game" asp-page="/Skill/Index">Skills</a>
                            <a class="dropdown-item" asp-area="Game" asp-page="/Species/Index">Species</a>
                            <a class="dropdown-item disabled" asp-area="Game" asp-page="/Tags/Index">Tags</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a id="@navTheme" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Themes
                        </a>
                        @* TODO: Will eventually move /Pages/Themes/* into Info area *@
                        <div class="dropdown-menu" aria-labelledby="@navTheme">
                            <a class="dropdown-item" asp-area="" asp-page="/Themes/Index">Main</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-area="" asp-page="/Themes/CoC">CoC</a>
                            <a class="dropdown-item" asp-area="" asp-page="/Themes/EroRPG">EroRPG</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>